<div class="flex justify-center items-center mt-60 mb-5">
    <h1>LOGIN</h1>
</div>
<div class="flex justify-center items-center">
    <div class="w-1/3">
        <form [formGroup]="loginForm" class="rounded-lg p-24 flex flex-col bg-indigo-50">
            <mat-form-field class="mb-5">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="username" [errorStateMatcher]="matcher">
                @if (username.hasError('required')) {
                <mat-error>Username is required</mat-error>
                }
                @if (username.hasError('minlength')) {
                <mat-error>Minimum length is 6</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="mb-5">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                    [errorStateMatcher]="matcher">
                @if (password.hasError('required')) {
                <mat-error>Password is required</mat-error>
                }
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button (click)="onSubmit()" mat-raised-button color="primary">Primary</button>

        </form>
    </div>
</div>