<div class="mt-5 px-20">
    <div class="flex justify-between items-center mb-7">
        <h1 class="text-[50px] my-auto">Employee</h1>
    </div>

    <div class="w-1/2 shadow-md rounded-md">
        <div class="flex px-10 py-10">
            <div class="ml-10 text-indigo-700">
                <h1>Username</h1>
                <h1>Firstname</h1>
                <h1>Lastname</h1>
                <h1>Email</h1>   
                <h1>Birthdate</h1>   
                <h1>Basic Salary</h1>   
                <h1>Status</h1>  
                <h1>Group</h1>   
                <h1>Description</h1>   
            </div>
            <div class="ml-60">
                <h1>MickyS</h1>  
                <h1>Isabel</h1>  
                <h1>Charlotte</h1>  
                <h1>olaf&#64;gmail.com</h1>  
                <h1>Apr 28 2023</h1>  
                <h1>Rp. 37422123</h1>  
                <h1>Sabila</h1>  
                <h1>Elsa</h1>  
                <h1>Apr 28 2023</h1>  
            </div>
        </div>
    </div>
</div>